	 <!-- Prev/Next -->
         <div class="row PageNavigation d-flex justify-content-between font-weight-bold">
            {% if page.previous.url %}
               <a class="prev d-block col-md-6" href="{{page.previous.url | absolute_url}}"> &laquo; {{page.previous.title}}</a>
            {% endif %}
            {% if page.next.url %}
               <a class="next d-block col-md-6 text-lg-right" href="{{page.next.url | absolute_url}}">{{page.next.title}} &raquo; </a>
            {% endif %}
            <div class="clearfix"></div>
         </div>

{% comment %}         
                     <!-- Prev/Next -->
                     <div class="row PageNavigation mt-4 prevnextlinks">
                        {% if page.previous.url %}
                          <div class="col-md-6 rightborder pl-0">
                              <a class="thepostlink" href="{{page.previous.url | absolute_url}}">&laquo; {{page.previous.title}}</a>
                          </div>
                        {% endif %}
                        {% if page.next.url %}
                          <div class="col-md-6 text-right pr-0">
                              <a class="thepostlink" href="{{page.next.url | absolute_url}}">{{page.next.title}} &raquo;</a>
                          </div>
                        {% endif %}
                      </div>
                      <!-- End Prev/Next -->
{% endcomment %}                          