---
title: "Categories2"
layout: default
permalink: "/categories2.html"
---

<div class="row listrecent">

<div class="section-title col-md-12 mt-4">
<h2 id="{{ category[0] | replace: " ","-" }}">Category <span class="text-capitalize">{{% site.categories.Tutorial %}}</span></h2>
</div>

{% for post in site.categories.tutorial %} %}
{% if post.title != null %}
{% if group == null or group == post.group %}
{% include postbox.html %}
{% endif %}
{% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}

</div>