---
layout: default
disqus: false
archive: false
post_class: post-template 
---

<!-- Begin Article
================================================== -->
<div class="container">
	<div class="row">
        <!-- Post Share -->
        <div class="col-md-2 pl-0">
            <!--{% include share.html %}-->
        </div>        
		<!-- Post -->        
        {% assign author = site.authors[page.author] %}
        
		<div class="col-sm-8">
			<div class="mainheading">              
                
                <!-- Post Categories -->
                <div class="after-post-tags">
                    <ul class="tags">
                        {% assign sortedCategories = page.categories | sort %}
                        {% for category in sortedCategories %}
                        <li>
                         <a href="{{ site.baseurl }}/categories#{{ category | slugify }}/">{{ category }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- End Categories -->
                
                <!-- Post Title -->
				<h1 class="posttitle">{{ page.title }}</h1> 
                
			</div>

			<!-- Post Featured Image -->
			{% if page.image %}<img class="featured-image img-fluid" src="{{ site.baseurl }}{{ page.image }}" alt="{{ page.title }}">{% endif %}
			<!-- End Featured Image -->

			<!-- Post Content -->
			<div class="article-post">
				{{content}}
                <div class="clearfix"></div>
			</div>

            <!-- Post Date -->
            <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
                {% if page.last_modified_at %}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
                </small>
            </p>
            

            {% include post_pagination.html %}            
            
            {% include author_box.html %}

            
            </br>
        </br>

                {% include post_categories.html %}	      

                {% comment %}                      
                {% include post_links.html %}          
                {% include post_newsletter.html %}
                {% include post_recent.html %}
                {% include post_pagination.html %}	
                {% endcomment %}                
	       

                {% include comments_disqus.html %}
            

		</div>
		<!-- End Post -->
	</div>
</div>
<!-- End Article
================================================== -->